:root {
  --main-color: orange ;
  --secondary-color: #807E78;
  --third-color: white;
}
* {
  cursor: url("https://i.imgur.com/N5yOExv.png"), auto;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  color: black;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--third-color);
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  transition: color .1s;
}
a:hover {
  color: var(--third-color);
}
button {
  background-color: var(--main-color);
  border: 0;
  padding: 1%;
  color: var(--third-color);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: var(--third-color);
  color: var(--main-color);
}
.post-list {
  margin: 0;
  padding: 0;
}
textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 5px solid #ccc;
}
textarea:focus, input:focus {
  outline: none;
  border: 1px solid #ccc;
}
textarea {
  min-width: 40%;
  min-height: 100px;
}
form > div {
  margin-bottom: 2%;
}
form label {
  display: block;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
header h1 {
  font-size: 1em;
}
main {
  flex: 1;
  padding: 2% 4%;
  align-self: center;
}
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}
.topLeft {
  font-size: 55px;
  font-family: Helvetica, sans-serif, Arial, ;
}
.btn-no-style:hover {
  background: none;
  color: var(--third-color);
}
.delete-post-btn {
  background-color: #D41414;
}
.delete-post-btn:hover {
  background-color: #FF643D;
}
.post {
  margin-bottom: 2%;
  line-height: 150%;
}
.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7D7D7D;
}
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}
.upvote-btn {
  background-color: #197D0F;
  transition: background-color .1s;
}
.upvote-btn:hover {
  background-color: #1F9C13;
}
.comment-form {
  margin-bottom: 5%;
}
.comment {
  padding: 1%;
  margin-bottom: 1%;
}
.comment:nth-child(odd) {
  background-color: #FFF5EB;
}
.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
  color: black;
}
.new-post-form input {
  width: 300px;
}
.edit-post-form {
  margin-bottom: 5%;
}
footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  color: black
}
